/* Articulos */
.titulo-container {
    display: flex;
    justify-content: center;
    .titulo-nota {
        text-align: center;
        color: $negroMate;
        font-weight: bold;
        font-size: 2rem;
        font-family: $fuenteBebasNeue;
        margin-top: 4rem;
        width: 85%;
        @media (min-width: 550px) {
            font-size: 4rem;
        }
    }
}

.nota-container {
    margin: 30px auto;
    width: 80%;
    @media (min-width: 768px) {
        width: 65%
    }
    @media (min-width: 1240px) {
        width: 55%;
    }
    .parrafo {
        letter-spacing: .3px;
        word-spacing: 1px;
        margin: 30px auto;
        text-align: justify;
        @media (min-width: 600px) {
            font-size: 1rem;
        }
    }
    .subtitulo {
        margin-top: 1rem;
        text-align: center;
        font-family: $fuenteBebasNeue;
        font-weight: bold;
        font-size: 35px;
    }
    .video-youtube {
        display: block;
        height: 20rem;
        margin: 0 auto;
        @media (min-width: 768px) {
            height: 40rem;
            width: 100%;
        }
    }
    .img-nota {
        width: 100%;
        height: auto;
    }
    .autores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: azure;
        border-radius: 5px;
        .autor-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            img {
                border-radius: 50%;
                text-align: center;
                height: 150px;
                width: 150px;
            }
            h3 {
                font-size: 1.5rem;
            }
        }
        div {
            p {
                margin-left: 15px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.seccion-recomendadas {
    margin-top: 5rem;
    margin-bottom: 2rem;
    .titulo-recomendadas {
        font-family: $fuenteBebasNeue;
        font-size: 3rem;
    }
    .notas-recomendadas-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        @media (min-width: 992px) { 
            flex-direction: row;
                justify-content: center;
                width: 90%;
        }
        .card-recomendada {
            width: 20rem;
            margin: 1rem 2rem;
            height: 28rem;
            a {
                text-decoration: none;
                color: $negroMate;
            }
        }
    }
}
